body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(images/-Mercury_in_true_color.jpg)
}
.login-box{
    position:relative;
    width: 400px;
    height: 450px;
    background:url(images/download.jpg);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 3px 0;
    border-bottom: #fff;
    
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5px;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top:x;

}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: 1em;
    color: #154be0;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #0b69e6;
    font-size: 1.2em;
    line-height: 57px;
}
.remember-forget{
    margin-right: 200px;
    font-size: .9em;
    color: #0c8eda;
    display: flex;
    justify-content: center;
    transform: translateY(-50);
}
.forgotten{
    text-align: center;
    color: #0d1013;
}
button{
   width: 100%;
   height: 30px;
   background: #0543c9;
   border-radius: 5px;
   cursor: pointer;
   font-size: 1em;
   color: #000;
}
.register-link,
a{
    color: #fff;
    
}
center{
    color: wheat;
}